html {
    height: 100vh;
    width: 100vw;
}
body {
    background: linear-gradient(to top, #dbdbd2 88%, #009688 1%);
}

#root {
    margin: 4rem auto;
    width: 70vw;
    height: 80vh;
}

/* Utils */

/* Generics */

header {
    height: 70px;
    background-color: #eaeaea;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    --bs-gutter-x: 0;
}


/* common properties */

.header-img {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    font-weight: 500;
}

.user-time {
    color: rgba(0, 0, 0, 0.507);
    font-size: .9rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    color: #b1b1b1;
    
}

.header-icons i {
    cursor: pointer;
}

/* left div */

#chats-container {
    background-color: white;
    border-right: 1px solid blue;
}


/* ---------------------------------------------- */
/* CURRENT CHAT CONTAINER */
/* right div */
/* ---------------------------------------------- */

#current-chat-container {
    background-image:url(/img/mine.jpg);
    display: flex;
    flex-direction: column;
}


#current-chat {
    flex-grow: 1;
}


footer {
    background-color: #f3eeea;
    height: 70px;

    display: flex;
    align-items: center;
}


.footer-icon {
    width: 80px;
    font-size: 1.5rem;
    /* background-color: red; */
    color: #6b7376;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-new-text {
    flex-grow: 1;
    background-color: white;
    border-radius: 5px;
}

.footer-new-text input {
    width: 100%;
    border: 0;
    padding: .75rem 0;
    border-radius: 5px;
}

::placeholder {
    padding-left: 15px;
}












/* media query */

@media screen and (max-width:1500px) {
    #root {
        width: 80vw;
    }

}